html, body {
  background-color: black;
  font-family: Verdana,  sans-serif;
}

/* utility */

.u_center {    text-align: center;}
.u_gray {color: gray;}


h1 {
    color: white;
    font-weight: normal;
    font-size: 50px;
}

a.link {
    color: aquamarine;
    font-size: 16px;   
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

p {
      font-size: 21px;    
}



.foot_p {
    text-align: right;
}