html, body {
  background-color: black;
  font-family: Verdana,  sans-serif;
  margin: auto 40px;
  
}

/* utility */

.u_center {    text-align: center;}
.u_gray {color: gray;}


h1 {
    color: white;
    font-weight: normal;
    font-size: 50px;
}

a.link {
    color: aquamarine;
    font-size: 16px;   
}

video {
    border: none;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

img.camp {
    width: 60%;
    height: auto;
    display: block;
    margin: 10px auto;
}

img.phone {
    display: block;
    margin: 20px auto; 
}

p {
      font-size: 21px;    
}



.foot_p {
    text-align: right;
}